.page-enter-active, .page-leave-active, .transitioner {
    transition: all 0.15s ease;
}
.page-enter {
    transform: translateX(25px);
    opacity: 0;
}
.page-leave-to {
    transform: translateX(-25px);
    opacity: 0;
}